* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.float-container {
  display: flex;
}

.float-child {
  width: 50%;
  padding: 15px;
}

div.entry-form {
  display: block;
  text-align: center;
}
entry-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.title {
  text-align: center;
}
