{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'dict/apples.css' %}" />
<script type="text/javascript" src="/static/dict/jquery.js"></script>
<script type="text/javascript" src="/static/dict/app.js"></script>
<div class="title">
  <h1>Compare French words</h1>
</div>
<div class="entry-form">
  <form class="word-form" method="post">
    {% csrf_token %} {{ form.as_p }}
    <p><input class="word-input" type="submit" value="define" /></p>
  </form>
</div>
{% endblock %}
